* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
  color: #ffffff;
  background-color: #222222;
  min-height: 10px;
;
}
#network{
	color: #B213A6;
}
#cpu{
	color: #c6d461;
}
#memory{
	color: #1AB213;
}
#temperature{
	color: #B21332;
}
#time {
  color: #ffb86c;
}
#backlight{
	color:#39ccc0;
}
#pulseaudio{
	color:#23B043;
}
#tray{
    padding-right: 10px;
}
#mpris{
	color:#03fc84;
}
#battery {
  color: #8be9fd;
	padding-right:10px;
}
#clock{
	color: #82109e;
}